*.pyc
*~

PyBoolNet/Tests/Files/**

Docs/Sphinx/build/**

PyBoolNet/Dependencies/**

Docs/Sphinx/merge_figure17-crop.pdf
Docs/Sphinx/merge_figure17.aux
Docs/Sphinx/merge_figure17.dvi
Docs/Sphinx/merge_figure17.log
Docs/Sphinx/merge_figure17.pdf

Releases/
dist/

Tutorials/Klarner2018/jobs.py
Tutorials/*/*.json
Tutorials/*/*.pdf

.idea/
requirements.txt

MANIFEST
