
name: Test

on:
  pull_request:
    branches: [ master, develop ]

jobs:
  # This workflow contains a single job called "build"
  pytest:

    runs-on: ubuntu-latest
        
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.x' 
          architecture: 'x64' 
      
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Install PyBoolNet
        run: python setup.py install

      - name: Install NuSMV dependency libreadline
        run: sudo apt-get install libreadline6:i386

      - name: Test with pytest
        run: pytest

